<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./public/build.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>

</head>
<body class="p-8">
  <div class="flex flex-col items-center">
    <h1 class="text-2xl text-center mb-12 border-b-2 border-black">ASCII Converter</h1>
    
    <div class="mb-16">
      <form
        id="form"
        hx-encoding="multipart/form-data"
        hx-post="/upload-image"
        hx-target="#ascii-container"
        hx-swap="innerHTML"
        hx-indicator="#converting-spinner"
        class="flex flex-col"
      >
        <input type="file" name="file" class="mb-5 block w-full text-sm text-gray-600
          file:mr-4 file:py-2 file:px-4
          file:rounded-md file:border-1
          file:text-sm file:font-semibold
          file:text-slate-900
          file:border-slate-400
          file:bg-slate-100
          hover:file:bg-slate-200
        "/>

        <style>
          #converting-spinner.htmx-request {
            animation: spin 1s linear infinite;
          }
        </style>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <svg id="converting-spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" class="w-6 h-6 inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
          </svg>
          Convert
        </button>
      </form>
    </div>

    <div id="ascii-container">
      Choose a file to see it in ASCII!
    </div>
  </div>

</body>
</html>