<!DOCTYPE html>
<html lang="en">
<head>
  <link href="./public/build.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>

</head>
<body class="p-8">
  <div class="flex flex-col items-center">
    <h1 class="text-4xl text-center mb-12 border-b-2 border-black">ASCII Converter</h1>
    
    <div class="mb-16">
      {{ template "file-upload.html" . }}
    </div>

    <div id="ascii-container">
      Choose a file to see it in ASCII!
    </div>
  </div>

</body>
</html>